.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    padding: 0 0 0 20px;
    margin: 5px 0 5px 0;
}

.nav-items ul{
    display: flex;
    font-size: 20px;
}

.nav-items ul li{
    padding: 0 10px;
    margin: 0 20px;
    
    list-style-type: none;
    
}

.res-card{
    padding: 5px;
    width: 200px;
    /* height: 300px;  */
    /* border: 1px solid black; */
    background-color: #f0f0f0;
    margin: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
    height: 150px;
}

.filter-btn{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}